body{
    overflow-x: hidden;
}
.container_fluid{
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}
#canvas, canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 920px !important;
}
.header{
    display: flex;
    justify-content: center;
}
#headerFon{
    position: absolute;
    height: 920px;
    left: 0;
}
.bg_fone{

}
.show_bar{
    display: none;
}
.show_bar .show_btn span{
    width: 34px;
    height: 2px;
    background: white;
    display: block;
    margin-top: 6px;

}
.show_bar .close_btn{
    cursor: pointer;

}
.nav-bar{
    justify-content: space-between;
    max-width: 1200px;
    padding: 15px 20px 0;
    align-items: center;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 1;
    left: 0;
}
.nav-bar .nav_list{
    display: flex;
    padding: 0;
    align-items: center;
    margin: 0;

}
.nav-bar .nav_list li{
    list-style: none;
    margin-left: 20px;
}
.nav-bar .nav_list .nav_item {

}

.nav-bar .nav_list .nav_item .nav_link{
    text-decoration: none;;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
}
.btn_navigation{
    background: #85D5EF;
    padding: 8px 15px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}
.content_header{
    position: relative;
    z-index: 5;
    margin-top: 90px;
}
.content_header .img_block{
    text-align: right;
}
.content_header{

}
.content_header .header_text{
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 60px;
}
.content_header .header_title{
    font-weight: bold;
    text-align: left;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: 0.5px;
    color: #FFFFFF;

}
.clients_block{
    margin-top: 80px;
}
.clients_block .clients_block_title{
    font-size: 16px;
    line-height: 51px;
    color: #FFFFFF;
}
.clients_block .clients_logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.clients_block .clients_logo img{
    margin-right: 15px;
}

.main_content{
    padding-bottom: 100px;
    margin-top: 100px;
}
.main_content .main_title{
    margin-bottom: 70px;
    font-weight: 800;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
.main_content  .product.active{
    background: #7101D3;

}
.main_content  .product.active h5{
    color: #FFFFFF;
}
.main_content  .product.active .product_list li{
    color: #FFFFFF;
}
.main_content  .product{
    padding: 23px 25px;
    border-radius: 10px;
}

.main_content  .product h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.main_content  .product .product_list li{
    font-size: 15px;
    line-height: 26px;
    color: #757575;
}
.img_content{
    margin: auto;
    display: none;
}
.phone{
    position: relative;
}
.phone img{
    position: relative;
    width: 100%;
}
.phone video{
    position: absolute;
    width: 100%;
    height: 95%;
    top: 16px;
}
.phone .play_video{
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}




/*media*/

@media(max-width:1200px) {

}
@media(max-width:992px){
    .nav-bar .show_bar{
        align-items: center;
        display: flex;
    }
    .nav-bar .nav_list{
        display: none;
    }
    .nav-bar .nav_list .nav_item{
        margin-bottom: 20px;
    }
    .nav_list.nav_mobile_bar{
        position: absolute;
        top: 90px;
        height: 100%;
        z-index: 99999992;
        width: 100%;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 12px;
        display: block;
  }
    .hidden_block.content_header{
        display: none;
    }
    .nav_item_btn .btn{
        display: none;
    }
    #canvas, canvas {
        height: 1130px !important;
    }
    .content_header .header_title{
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 107.6%;
        text-align: center;
        letter-spacing: 0.5px;
    }
    .content_header .header_text{
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.5px;

        color: #FFFFFF;

    }
    .content_header .img_block{
        text-align: center;
    }
    .content_header .btn_navigation{
        margin: 40px auto;
        width: 50%;
    }
    .clients_block{
        margin-top: 25px;
    }
    .clients_block .clients_block_title{
       text-align: center;
    }
    .main_content  .product .product_list{
        text-align: left;
    }
    .main_content  .product{
        text-align: center;
    }
    .main_content  .product h5{
        text-align: center;

    }
    .main_content .product .img_content{
        display: block;
    }


}


@media(max-width:767px) {

}

@media(max-width:576px) {

}

@media(max-width:480px) {

}
